<div class="login" >

    <!-- App Logo -->
    <div class="login-logo text-center">
        <img src="assets/main-logo-large.png">
    </div>

    <!-- Login -->
    <div id="login" ng-if="!view.signInOpened && !view.forgotPwOpened">
    
        <!-- Stage 1 - Language-->
        <div id="language" ng-if="view.stepSelected === 'language'">

            <!-- Choose buttons -->
            <div class="login-lang-buttons">
                <div class="login-lang-button-container">
                    <custom-button label="PORTUGUÊS" layout="larger-white" on-press="chooseLanguage('pt')"></custom-button>  
                </div>
                <div class="login-button-container">
                    <custom-button label="ENGLISH" layout="larger-white" on-press="chooseLanguage('en')"></custom-button>  
                </div>
            </div>

        </div>


        <!-- Stage 2 - Login form-->
        <div id="credentials" ng-if="view.stepSelected === 'credentials'">
            
            <!-- Form -->
            <div class="login-credentials-form">
                
                <!-- Username -->
                <div class="login-credentials-input-container">
                    <custom-input label="Email" model="view.credentials.username"></custom-input>
                </div>

                <!-- Password -->
                <div class="login-credentials-input-container">
                    <custom-input label="Password" model="view.credentials.password" input-type="password"></custom-input>
                </div>

                <!-- Remind Credentials -->
                <div class="login-credentials-radio-container text-medium color-dark-pink">               
                    
                    <div class="pull-left" ng-click="view.credentials.remindCredentials = !view.credentials.remindCredentials">
                        <span><i class="fa" ng-class="{'fa-circle' : view.credentials.remindCredentials}"></i></span>&nbsp;{{ 'APP_LOGIN_MEMORIZE_BTN' | translate }}
                    </div>

                    <div class="pull-right" ng-click="forgotPw()"><span>{{ 'APP_LOGIN_RESET_PW_BTN' | translate }}</div>
                
                </div>

                <!-- Login Button -->
                <div class="login-credentials-button-container">
                    <custom-button label="{{ 'APP_LOGIN_ENTER_BTN' | translate }}" on-press="userLogin()"></custom-button> 
                </div>

                <!-- Error message -->
                <div class="login-credentials-message-container" >
                    <span class="text-medium color-red" ng-show="view.credentialsMessageError !== ''">{{ view.credentialsMessageError | translate }}</span>
                </div>

                <!-- Sign in -->
                <div class="login-credentials-sign-container text-medium color-dark-pink text-center">
                    <span ng-click="signIn()">{{ 'APP_LOGIN_SIGN_BTN' | translate }}</span>
                </div>                

            </div>

            <!-- Disclaimer -->
            <div class="login-credentials-disclaimer text-medium color-dark-pink text-center">
                <span>{{ 'APP_LOGIN_DISCLAIMER_DESCRIPTION' | translate }}</span>
                <br>
                <a class="color-dark-pink text-underline" href="http://www.google.com" target="_blank">{{ 'APP_LOGIN_DISCLAIMER_THERMS' | translate }}</a>
                {{ 'APP_LOGIN_DISCLAIMER_DESCRIPTION_AND ' | translate }}
                <a class="color-dark-pink text-underline" href="http://www.google.com" target="_blank">{{ 'APP_LOGIN_DISCLAIMER_PRIVACY ' | translate }}</a>

            </div>

        </div>


        <!-- Stage 3 - Authorize-->
        <div id="authorize" ng-if="view.stepSelected === 'authorize'">

            <!-- Description -->
            <div class="login-authorize-desc text-center color-dark-pink">
                <div>{{ 'APP_AUTHORIZATION_INFO_LABEL' | translate }}</div>            
            </div>

            <!-- Choose buttons -->
            <div class="login-authorize-buttons">
                <div class="login-authorize-button-container">
                    <custom-button label="{{ 'APP_AUTHORIZATION_ALLOW_BTN' | translate }}" layout="default" on-press="confirmAuthorization(true)"></custom-button>  
                </div>
                <div class="login-button-container">
                    <custom-button label="{{ 'APP_AUTHORIZATION_REFUSE_BTN' | translate }}" layout="default" on-press="confirmAuthorization(false)"></custom-button>  
                </div>
            </div>

            <!-- Disclaimer -->
            <div class="login-credentials-disclaimer text-medium color-dark-pink text-center">
                <span>{{ 'APP_LOGIN_DISCLAIMER_DESCRIPTION' | translate }}</span>
                <br>
                <a class="color-dark-pink text-underline" href="http://www.google.com" target="_blank">{{ 'APP_LOGIN_DISCLAIMER_THERMS' | translate }}</a>
                {{ 'APP_LOGIN_DISCLAIMER_DESCRIPTION_AND ' | translate }}
                <a class="color-dark-pink text-underline" href="http://www.google.com" target="_blank">{{ 'APP_LOGIN_DISCLAIMER_PRIVACY ' | translate }}</a>

            </div>

        </div>

    </div>

    <!-- Sign in -->
    <div id="sign-in" ng-if="view.signInOpened" >
        
        <!-- Close popup button -->
        <div class="sign-close-button-container color-dark-pink" ng-click="signInClose()">
            <span><i class="fa fa-times-thin fa-2x"></i></span>
        </div>
               
        <!-- Step 0 - Identification -->
        <div class="sign-step-0" ng-if="view.signInStep === 0">

            <!-- photo and pictures -->
            <div class="sign-step-0-photo-container row text-center color-dark-gray" style="margin: 0 10px;">

                <!-- cirlce -->
                <div class="col-xs-4">         
                    <input type='file' accept='image/*' id="input-photo" style="display: none"><br>           
                    <div class="sign-step-0-circle color-white background-normal-pink text-center" ng-click="browseImages()">
                        +
                        <img id='photo-output'>
                    </div>
                </div>

                <!-- camera -->
                <div class="col-xs-4">
                    <div class="sign-step-0-camera" ng-click="browseImages()">
                        <span><i class="fa fa-camera fa-2x"></i></span>
                        <br>
                        <span class="text-small">{{ 'APP_SIGNIN_STEP_0_PHOTO_BTN' | translate }}</span>
                    </div>
                </div>

                <!-- camera -->
                <div class="col-xs-4">                
                    <div class="sign-step-0-gallery" ng-click="browseImages()">
                        <span><i class="fa fa-image fa-2x"></i></span>
                        <br>
                        <span class="text-small">{{ 'APP_SIGNIN_STEP_0_GALLERY_BTN' | translate }}</span>
                    </div>
                </div>

            </div>

            <!-- Form : identification -->
            <div class="sign-step-form">

                <!-- Name -->
                <div class="sign-step-form-input-container">
                    <custom-input label="{{ 'APP_SIGNIN_STEP_0_NAME' | translate }}"  under-label="{{ 'APP_SIGNIN_STEP_0_NAME_DESC' | translate }}" under-label-class="color-dark-gray" model="view.signInForm.identification.name"></custom-input>
                </div>

                <!-- Email -->
                <div class="sign-step-form-input-container">
                    <custom-input label="{{ 'APP_SIGNIN_STEP_0_EMAIL' | translate }}"  under-label="{{ 'APP_SIGNIN_STEP_0_EMAIL_DESC' | translate }}"  under-label-class="color-red" model="view.signInForm.identification.email"></custom-input>
                </div>

                <!-- Password -->
                <div class="sign-step-form-input-container">
                    <custom-input label="{{ 'APP_SIGNIN_STEP_0_PASSWORD' | translate }}" input-type="password" under-label="{{ 'APP_SIGNIN_STEP_0_PASSWORD_DESC' | translate }}" under-label-class="color-dark-gray" model="view.signInForm.identification.password"></custom-input>
                </div>

                <!-- Repeat Password-->
                <div class="sign-step-form-input-container">
                    <custom-input label="{{ 'APP_SIGNIN_STEP_0_REPEAT_PW' | translate }}" input-type="password" under-label="{{ 'APP_SIGNIN_STEP_0_REPEAT_PW_DESC' | translate }}"  under-label-class="color-red" model="view.signInForm.identification.repeatPw"></custom-input>
                </div>

                <!-- Phone -->
                <div class="sign-step-form-input-container">
                    <custom-input label="{{ 'APP_SIGNIN_STEP_0_PHONE' | translate }}"  under-label="{{ 'APP_SIGNIN_STEP_0_PHONE_DESC' | translate }}" under-label-class="color-dark-gray" model="view.signInForm.identification.phone"></custom-input>
                </div>
                
                
                <!-- Submit Form -->
                <div class="">
                    <custom-button label="{{ 'APP_SIGNIN_CODE_BTN' | translate }}" icon="fa-chevron-right" is-disabled="!view.signInForm.isIdFormValid" on-press="submitRegistration()"></custom-button> 
                </div>

                <!-- Error message -->
                <div class="login-credentials-message-container login-error-message-container" style="margin-bottom: 20px;">
                    <span class="text-medium color-red" ng-show="view.signMessageError !== ''">{{ view.signMessageError | translate }}</span>
                </div>

            </div>

        </div>

        <!-- Step 1 - Insert Registration Code -->
        <div class="sign-step-1" ng-if="view.signInStep === 1">
            
            <!-- Form : Code confirmation -->
            <div class="sign-step-form" style="margin-top:30px">

                <!-- Code PIN -->
                <div class="sign-step-form-input-container">
                    <custom-input label="{{ 'APP_SIGNIN_STEP_1_CODE' | translate }}"  under-label="{{ 'APP_SIGNIN_STEP_1_CODE_DESC' | translate }}" under-label-class="color-dark-gray" model="view.signInForm.code.confirmationCode"></custom-input>
                </div>

                <!-- Submit Code -->
                <div class="sign-step-form-button-container">
                    <custom-button label="{{ 'APP_SIGNIN_CONFIRM_BTN' | translate }}" is-disabled="!view.signInForm.isCodeFormValid" on-press="saveAll()"></custom-button> 
                </div>

                <!-- Error message -->
                <div class="login-credentials-message-container" >
                    <span class="text-medium color-red" ng-show="view.pinCodeMessageError !== ''">{{ view.pinCodeMessageError | translate }}</span>
                </div>

            </div>

        </div>


    </div>

    <!-- Forgot password -->
    <div id="forgot-pw" ng-if="view.forgotPwOpened">

        <!-- Close popup button -->
        <div class="sign-close-button-container color-dark-pink" ng-click="forgotPwClose()">
            <span><i class="fa fa-times-thin fa-2x"></i></span>
        </div>

        <!-- Form : identification -->
        <div class="forgot-pw-step-form">

            <!-- Step 0 - Email Id -->
            <div class="forgot-pw-step-0" ng-if="view.forgotPwStep === 0">

                <!-- Description -->
                <div class="forgot-pw-desc text-center color-dark-pink">
                    <div>{{ 'APP_FORGOT_PW_INFO_LABEL' | translate }}</div>            
                </div>

                <!-- Email -->
                <div class="forgot-pw-step-form-input-container">
                    <custom-input label="{{ 'APP_SIGNIN_STEP_0_EMAIL' | translate }}"  under-label="{{ 'APP_SIGNIN_STEP_0_EMAIL_DESC' | translate }}"  under-label-class="color-red" model="view.forgotPwForm.email"></custom-input>
                </div>

                 <!-- Submit email -->
                 <div class="forgot-pw-step-form-button-container">
                    <custom-button label="{{ 'APP_SIGNIN_CONFIRM_BTN' | translate }}" is-disabled="!view.forgotPwForm.isEmailValid" on-press="requestNewPw()"></custom-button> 
                </div>

                <!-- Error message -->
                <div class="forgot-pw-credentials-message-container" >
                    <span class="text-medium color-red" ng-show="view.forgotPwMessageError !== ''">{{ view.forgotPwMessageError | translate }}</span>
                </div>

            </div>

            <!-- Step 1 - Success -->
            <div class="forgot-pw-step-1" ng-if="view.forgotPwStep === 1">

                <!-- Description -->
                <div class="forgot-pw-desc text-center color-dark-pink">
                    <div>{{ 'APP_FORGOT_PW_SUCCESS_LABEL' | translate }}</div>            
                </div>

            </div>

        </div>

        

    </div>
 
</div>

<loading is-loading="view.isLoading" loading-message="view.loadingMessage"></loading>