<div class="services-menu background-white">
        
    <!-- App Logo -->
    <div class="services-menu-logo text-center">
        <img src="assets/main-logo-medium.png">
    </div>

    <div id="services-menu">
        
        <!-- Close popup button -->
        <div class="services-menu-close-button-container color-dark-gray" ng-click="closeMenu()">
            <span><i class="fa fa-times-thin fa-2x"></i></span>
        </div>

        <div class="text-center">
            <span class="text-bold color-xDark-pink ">{{ 'APP_SERVICES_MENU_TITLE' | translate }}</span>
        </div>


        <!-- 
            Date picker
            https://nehakadam.github.io/AnyPicker/
        -->

        <div class="services-menu-list-container">
            <!-- App Mode = Client -->
            <div class="services-menu-list-item" ng-repeat="service in view.servicesCompleted" ng-if="view.appMode === 'client'">
                <service-completed service="service" on-re-schedule="onReSchedule(service)" app-mode="{{ view.appMode }}"></service-completed>
            </div>

            <!-- App Mode = Pro -->
            <div class="services-menu-list-item" ng-repeat="service in view.servicesCompleted" ng-if="view.appMode === 'pro'">
                <service-completed service="service" on-report-comment="onReportComment(service, comment)" app-mode="{{ view.appMode }}"></service-completed>
            </div>
        </div>
    
    </div>

</div>

 <!-- Loading -->
 <loading is-loading="view.isLoading" loading-message="view.loadingMessage"></loading>