<div class="services-menu background-white">
        
    <!-- App Logo -->
    <div class="services-menu-logo text-center">
        <img src="assets/main-logo-medium.png">
    </div>

    <div id="services-menu">
        
        <!-- Close popup button -->
        <div class="services-menu-close-button-container color-dark-gray" ng-click="closeMenu()">
            <span><i class="fa fa-times-thin fa-2x"></i></span>
        </div>

        <div class="text-center">
            <span class="text-small text-bold color-xDark-pink ">{{ 'APP_SERVICES_MENU_TITLE' | translate }}</span>
        </div>


        <!-- 
            Date picker
            https://nehakadam.github.io/AnyPicker/
        -->

    
    </div>

</div>