<!-- default -->
<div class="custom-dropdown-container">

    <!-- Dropdown switcher -->
    <div class="custom-dropdown-switcher" ng-click="expanded = !expanded">

        <div class="custom-dropdown-icon">
            <!-- location -->
            <div ng-switch="category.location">
                <div ng-switch-when="in" class="heart-icon"><img ng-src="assets/marker-heart-green.png"></div>
                <div ng-switch-when="out" class="heart-icon"><img ng-src="assets/marker-heart-orange.png"></div>
                <div ng-switch-when="in/out" class="heart-icon"><img ng-src="assets/marker-heart-red.png"></div>
                <div ng-switch-when="busy" class="heart-icon"><img ng-src="assets/marker-heart-gray.png"></div>
            </div>

            <span class="text-bold color-gray text-extra-small">&nbsp; {{ category.location.toUpperCase() }} </span>
            
        </div>

        <!-- Category Name -->
        <span class="custom-dropdown-category-name text-large text-bold">{{ category.categoryName }}</span>

        <!-- Colaspible mark -->
        <span class="color-gray"><i class="fa fa-2x" ng-class="(expanded === true) ? 'fa-chevron-up' : 'fa-chevron-down' "></i></span>

    </div>

    <!-- All Options -->
    <div class="custom-dropdown-options-container" ng-if="expanded">

        <div ng-repeat="subCategory in category.subCategories">
            <!-- sub category name  -->
            <span class="text-bold color-gray">{{ subCategory.subCategoryName }}</span>

            <custom-option-picker options="subCategory.options" number-of-picked="subCategory.numberOfPicked" price-picked="subCategory.pricePicked" on-pick="updateNumberPicked()"></custom-option-picker>

        </div>
        
    </div>


</div>