.home{
    position: absolute;
    top: 50px;
    bottom: 70px;
    left: 0;
    right: 0;
}

.home-full-height{
    bottom: 0;
}

/* Maps CSS */
.saloon-map-container{
    position: absolute;
    top: 0;
    left: 0;
    top: 0;
    bottom: 0;
}


.dashboard-new-tooltip{
    border: 1px solid red;
}

/* Generic Panel CSS */
.home-panel{
    position: absolute;
    min-height: 100%;
    left: 0;
    right: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.home-panel-close-btn-container{
    position: absolute;
    top: 15px;
    right: 20px;
}
.home-panel-data-tile{
    margin-bottom: 15px;
}
.home-panel-data-container{
    width: 100%;
    margin-top: 25px;

}

/* Menu Panel CSS */
.home-panel-menu{
    position: fixed;
    z-index: 1;
    width: 75%;
}
.home-menu-logo img{
    max-width: 150px;
}
.home-menu-options-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
    height: 50%;
    margin-top: 50%;
}
.home-menu-version{
    position: absolute;
    bottom: 40px;
}

/* Booking Panel */
.booking-panel-pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
}
.booking-panel-img-container{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid white;
    overflow: hidden;
}
.booking-panel-img-container img{
    width: 100%;
    border-radius: 40px;
}

.booking-panel-rating-container{
    position: relative;
}

.booking-panel-rating-container span:nth-of-type(1){
    font-size: 20px;
}
.booking-panel-rating-container span:nth-of-type(2){
    position: absolute;
    top: 18px;
    left: 13px;
}

.booking-panel-id-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.booking-panel-section-label{
    margin-top: 30px;
}
.booking-panel-place-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}
.booking-panel-services-container{
    margin: 10px 0;
}

.booking-panel-resume-container{
    margin: 25px 0px;
    padding: 0 30px;
}
.booking-panel-resume-items{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.booking-panel-buttons-container{
    margin: 30px;
}

.booking-panel-button-booknow-container:nth-of-type(2){
    margin-top: 20px;
}