.home-pro{
    position: relative;
    margin-top: 50px;
    margin-bottom: 70px;
    padding-bottom: 50px;
}

.home-pro-full-height{
    bottom: 0;
}

.home-pro-name-rating-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-pro-pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    padding-top: 15px;
}
.home-pro-img-container{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 2px solid white;
    overflow: hidden;
}
.home-pro-img-container img{
    width: 100%;
    border-radius: 40px;
}

.home-pro-rating-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-pro-rating-container span:nth-of-type(1){
    font-size: 35px;
}
.home-pro-rating-container span:nth-of-type(2){
    position: absolute;
    top: 40px;
    left: 28px;
    font-size: 20px;
}

/* dashboard */
.home-pro-dashboard-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}
.home-pro-dashboard-container > div{
    position: relative;
}
.home-pro-dashboard-circle{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 2px solid orange;
    overflow: hidden;

    text-align: center;
    padding-top: 20px;
}
.home-pro-dash-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -15px;
    background-color: white;
    left: 0px;
    width: 80px;
}
.home-pro-dash-description-stars{
    height: 43px;
    margin-top: 10px;
    padding-top: 10px;
}

/* Congratz */
.home-pro-congratz-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 15px 0;
    position: relative;
}
.home-pro-congratz-close-btn-container{
    position: absolute;
    top: 0;
    right: 20px;
}
.home-pro-congratz-img-container{
    margin: 10px 0px;
}
.home-pro-share-button{
    width: 100%;
    padding: 20px 20px 25px;
}

/* 5* Hints */
.home-pro-hints-container{
    margin-top: 40px;
}

.home-pro-hint-item{
    display: flex;
    flex-direction: column;
    margin: 20px 15px 35px;
}