.angular-google-map-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gm-style-iw {
    max-width:300px !important;
}

.gm-style-iw > div{
    max-width:300px !important;
}