<!-- This panel is responsible to track an accepted service -->
<div class="home-pro-panel background-white">

    <!-- Close popup button -->
    <div class="home-pro-panel-close-btn-container color-gray" ng-click="showPanel()">
        <span><i class="fa fa-times-thin fa-3x"></i></span>
    </div>

    
    <div class="home-pro-panel-data-container">
         
        <!-- World Map -->    
        <div class="saloon-map">

            <!-- we will load favorites as services -->
            <world-map></world-map>
            
        </div>


        <!-- Request Tile -->
        <div class="home-pro-tracking-request-container">
            <client-request request="view.selectedRequest" 
                            on-accept="onAcceptClient(request)"
                            on-reject="onRejectClient(request)"
                            on-start="onStartClient(request)" mode="on-map"></client-request>
        </div>


    </div>



</div>