<!-- This panel is responsible to track an accepted service -->
<div class="home-pro-panel background-white">

    <!-- Close popup button -->
    <div class="home-pro-panel-close-btn-left-container color-gray" ng-click="showPanel()">
        <span><i class="fa fa-chevron-left fa-2x"></i></span>
    </div>

    
    <div class="home-pro-panel-data-container">
         
        <!-- World Map -->    
        <div class="saloon-map">

            <!-- we will load favorites as services -->
            <world-map service-request="view.selectedRequest" app-mode="pro"></world-map>
            
        </div>


        <!-- Request Tile -->
        <div class="home-pro-tracking-request-container" ng-class="{ 'home-pro-tracking-request-container-expanded' : view.isClientRequestExpanded }">
            <client-request request="view.selectedRequest" 
                            on-accept="onAcceptClient(request)"
                            on-reject="onRejectClient(request)"
                            on-start="onStartClient(request)" 
                            on-expand-info="onExpandInfoClient(request, isInfoExpanded)" mode="on-map"></client-request>
        </div>


    </div>



</div>