.message-tile{
    padding: 40px 15px 20px;
    display: flex;
    flex-direction: column;
    position: relative;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: scroll;
    margin-bottom: 60px;
}

.message-tile img{
    width: 100%;
}

.message-tile-title{
    font-weight: bold;
    margin-top: 10px;
}

.message-tile-description{
    margin-top: 10px;
}

.message-close-button-container{
    position: absolute;
    top: 5px;
    right: 10px;
}
.message-tile-info-container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}