<div class="home-panel background-white" ng-if="view.serviceSelected">

    <!-- Close popup button -->
    <div class="home-panel-close-btn-container color-gray" ng-click="showPanel()">
        <span><i class="fa fa-times-thin fa-3x"></i></span>
    </div>

    <div class="text-large text-thin color-gray">{{ 'APP_HOME_BOOKING_PANEL_TITLE' | translate }}</div>

    <div class="home-panel-data-container">

        <!-- Location/Picture/Rating -->
        <div class="booking-panel-pictures">
            
            <!-- location -->
            <div ng-switch="view.serviceSelected.location">
                <div ng-switch-when="in" class="heart-icon"><img ng-src="assets/marker-heart-green.png"></div>
                <div ng-switch-when="out" class="heart-icon"><img ng-src="assets/marker-heart-orange.png"></div>
                <div ng-switch-when="in/out" class="heart-icon"><img ng-src="assets/marker-heart-red.png"></div>
                <div ng-switch-when="busy" class="heart-icon"><img ng-src="assets/marker-heart-gray.png"></div>
            </div>

            <!-- Picture -->
            <div class="booking-panel-img-container">
                <img ng-src="{{ view.serviceSelected.picture }}"> 
            </div>

            <!-- Rating -->
            <div class="booking-panel-rating-container">
                <span class="color-normal-pink"><i class="fa fa-star fa-3x"></i></span>
                <span class="color-white">{{ view.serviceSelected.rating }}</span>
            </div>

        </div>

        <!-- Name/Opinions -->
        <div class="booking-panel-id-container">
            <span class="text-xlarge">{{ view.serviceSelected.categoryName }}</span>
            <span class="text-thin color-gray">{{ 'APP_HOME_BOOKING_PANEL_OPINIONS' | translate }}&nbsp; ({{ 8 }}) </span>
        </div>

        <!-- Place label-->
        <div class="booking-panel-section-label text-center">
            <span class="text-medium text-bold color-normal-pink">{{ 'APP_HOME_BOOKING_PANEL_LOCAL_SECTION' | translate }}</span>
        </div>
        <!-- Place radio -->
        <div class="booking-panel-place-container">
            
            <div class="booking-panel-place-enum-container">
                <custom-radio options="view.bookingPlaceEnum" model="view.bookingPlaceSelected"></custom-radio>
            </div>

        </div>

        <!-- Services label-->
        <div class="booking-panel-section-label text-center">
            <span class="text-medium text-bold color-normal-pink">{{ 'APP_HOME_BOOKING_PANEL_SERVICES_SECTION' | translate }}</span>
        </div>
        <!-- Services radio -->
        <div class="booking-panel-services-container" ng-repeat="service in view.serviceSelected.myServices">
            <custom-dropdown category="service" total-picked-items="service.servicesPicked"></custom-dropdown>
        </div>

        <!-- Resume label-->
        <div class="booking-panel-section-label text-center">
            <span class="text-medium text-bold color-normal-pink">{{ 'APP_HOME_BOOKING_PANEL_RESUME_SECTION' | translate }}</span>
        </div>
        <!-- Resume description -->
        <div class="booking-panel-resume-container">
            <div class="booking-panel-resume-items">
                <span class="text-bold color-gray">{{ 'APP_HOME_BOOKING_PANEL_RESUME_PLACE' | translate }}:</span>
                <span>{{ view.serviceSelected.address1 }}</span>
            </div>
            <div class="booking-panel-resume-items">
                <span class="text-bold color-gray">{{ 'APP_HOME_BOOKING_PANEL_RESUME_SERVICE' | translate }}:</span>
                <span>{{ view.serviceSelected.getTotalServicesPicked() }}</span>
            </div>
            <div class="booking-panel-resume-items">
                <span class="text-large text-bold color-gray">{{ 'APP_HOME_BOOKING_PANEL_RESUME_TOTAL' | translate }}:</span>
                <span class="text-large text-bold">{{ view.serviceSelected.getTotalPriceFromPickedService() }}€</span>
            </div>
            <div class="booking-panel-resume-items">
                <span class="text-bold color-gray">{{ 'APP_HOME_BOOKING_PANEL_RESUME_PAYMENT' | translate }}:</span>
                
            </div>
        </div>

        <!-- Buttons -->
        <div class="booking-panel-buttons-container">
            <!-- Book now -->
            <div class="booking-panel-button-booknow-container">
                <custom-button label="{{ 'APP_HOME_BOOKING_PANEL_BOOKNOW_BUTTON_LABEL' | translate }}" layout="default" on-press="confirmBookReservation()"></custom-button>  
            </div>

            <!-- Schedule now -->
            <div class="booking-panel-button-booknow-container">
                <custom-button label="{{ 'APP_HOME_BOOKING_PANEL_SCHEDULENOW_BUTTON_LABEL' | translate }}" layout="default" on-press="confirmBookReservation()"></custom-button>  
            </div>
        </div>

    </div>

</div>

<!-- Opinions Modal -->
