<div class="home-panel background-white">
    
    <!-- Close popup button -->
    <div class="home-panel-close-btn-container color-gray" ng-click="showPanel()">
        <span><i class="fa fa-times-thin fa-3x"></i></span>
    </div>

    <div class="text-large text-thin color-gray">{{ 'APP_HOME_FAVORITES_PANEL_TITLE' | translate }}</div>

    <div class="home-panel-data-container">

        <div class="home-panel-data-tile" ng-repeat="favorite in view.favorites">
            <favorite-tile favorite="favorite" on-book-now="onBookHandler(favorite)" on-schedule="onScheduleHandler(favorite)"></favorite-tile>
        </div>

    </div>

</div>