<div class="home-panel home-panel-menu background-grass-green home-menu-container home-menu-animation">
    
    <!-- Close popup button -->
    <div class="home-panel-close-btn-container color-xDark-pink" ng-click="showPanel()">
        <span><i class="fa fa-times-thin fa-3x"></i></span>
    </div>

    <!-- App Logo -->
    <div class="home-menu-logo text-center">
        <img src="assets/menu-logo.png">
    </div>

    <!-- Menu Options -->
    <div class="home-menu-options-container text-large text-bold">

        <span ng-click="gotoProfile()">{{ 'APP_HOME_MENU_PANEL_OPTION_1' | translate }}</span>
        <span>{{ 'APP_HOME_MENU_PANEL_OPTION_2' | translate }}</span>
        <span>{{ 'APP_HOME_MENU_PANEL_OPTION_3' | translate }}</span>
        <span>{{ 'APP_HOME_MENU_PANEL_OPTION_4' | translate }}</span>
        <span>{{ 'APP_HOME_MENU_PANEL_OPTION_5' | translate }}</span>
        <span>{{ 'APP_HOME_MENU_PANEL_OPTION_6' | translate }}</span>
        
    </div>

    <span class="home-menu-version  text-thin text-medium">{{ 'APP_VERSION' | translate }}</span>

</div>