<div class="home-panel home-panel-menu background-dark-gray home-menu-container home-menu-animation">
    
    <!-- Close popup button -->
    <div class="home-panel-close-btn-container color-white" ng-click="showPanel()">
        <span><i class="fa fa-times-thin fa-3x"></i></span>
    </div>

    <!-- App Logo -->
    <div class="home-menu-logo text-center">
        <img src="assets/menu-logo.png">
    </div>

    <!-- Menu Options -->
    <div class="home-menu-options-container text-large text-bold color-white ">

        <span ng-click="goToMenuOption('profile')">{{ 'APP_HOME_MENU_PANEL_OPTION_1' | translate }}</span>
        <span ng-click="goToMenuOption('services-menu')">{{ 'APP_HOME_MENU_PANEL_OPTION_2' | translate }}</span>
        <span ng-click="goToMenuOption('promotions-menu')">{{ 'APP_HOME_MENU_PANEL_OPTION_3' | translate }}</span>
        <span ng-click="goToMenuOption('help-menu')">{{ 'APP_HOME_MENU_PANEL_OPTION_4' | translate }}</span>
        <span ng-click="goToMenuOption('contacts-menu')">{{ 'APP_HOME_MENU_PANEL_OPTION_5' | translate }}</span>
        <span ng-click="goToMenuOption('legal-menu')">{{ 'APP_HOME_MENU_PANEL_OPTION_6' | translate }}</span>
        
    </div>

    <span class="home-menu-version  text-thin text-medium color-white ">{{ 'APP_VERSION' | translate }}</span>

</div>