<div class="home-panel background-white">
    
    <!-- Close popup button -->
    <div class="home-panel-close-btn-container color-gray" ng-click="showPanel()">
        <span><i class="fa fa-times fa-3x"></i></span>
    </div>

    <div class="text-large text-thin color-gray">{{ 'APP_HOME_MESSAGES_PANEL_TITLE' | translate }}</div>

    <div class="home-panel-data-container">

        <div class="home-panel-data-tile" ng-repeat="message in view.messages">
            <message-tile message="message" on-dismiss="dismissMessage(message)"></message-tile>
        </div>

    </div>

</div>